body{
    background-color: yellow;
}
h1{
    font-size: 3.8em;
    text-align: center;
    color: red;
}

table{
    border: 1px groove red;
    background-color: pink;
}

th, td {
    padding: 10px;
    font-size: 30px;
    color: grey;
}